---
interface Props {
    title: string,
    place: string,
    timeline: string,
    description: Array<string>
}
const { title, place, timeline, description }:Props = Astro.props
---

<div class="card-body">
    <div class="card-title">
        <h3>{title}</h3>
        <h4>{place}</h4>
        <p>{timeline}</p>
    </div>
    <div class="card-description">
        <ul>
            {description.map((item) => (
                <li>{item}</li>
            ))}
        </ul>
    </div>
</div>
<div class="separation-line"></div>

<style>
    .card-body {
        /* padding */
        padding: 1vh 0vw 1vh 0vw;
        /* flexbox */
        display: flex;
        gap: 50px;
        /* text */
        text-align: justify;
    }

    .card-description {
        li {
            padding-bottom: 0.5vh;
        }
    }

    .separation-line {
        width: 10vw;
        border-bottom: 1px solid var(--font-color);
    }

    @media (max-width: 1080px) {
        .card-body {
            display: block;
        }
    }
</style>