---
interface Props {
    title: String,
    place: String,
    timeline: String,
    description: String
}
const { title, place, timeline, description }:Props = Astro.props
---

<div class="card-body">
    <div class="card-title-place-timeline">
        <h3>{title}</h3>
        <h4>{place}</h4>
        <p>{timeline}</p>
    </div>
    <div class="card-description">
        <p>{description}</p>
    </div>
</div>

<style>

</style>