---
import CustomButton from "../components/CustomButton.astro"

const date = new Date()
const year = date.getFullYear()
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Eneko Olabarria</title>
	</head>
	<body>
		<head>
			<div class="site-title">
				<h1>Eneko Olabarria - Full Stack Web Developer</h1>
			</div>
			<nav>
				<a href="#work-experience">Experiencia Laboral</a>
				<a href="#proyects">Proyectos</a>
				<a href="#about-me">Sobre Mi</a>
				<a href="#">Blog</a>
			</nav>
		</head>
		<slot />
		<footer>
			<div class="footer-copyright">
				<h6>&copy;{year} EnekoDev. Casi todos los derechos reservados.</h6>
				<h6>Este proyecto es de codigo abierto</h6>
				<CustomButton title='Repositorio' icon='../../assets/git.svg' iconAlt='Git logo' />
			</div>
			<div class="footer-contact">
				<CustomButton title='Contacto' icon='../../assets/mail.svg' iconAlt='linkedin-logo' />
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--font-color: #FFF;
		--page-background: #000;
		--content-background: #808080;
	}
	html {
		font-family: Arial, Helvetica, sans-serif;
		background-color: var(--page-background);
		color: var(--font-color);
	}
</style>

<style>

</style>