---
import CustomButton from "../components/CustomButton.astro"

const date = new Date()
const year = date.getFullYear()
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Eneko Olabarria</title>
	</head>
	<body>
		<header class="site-head">
			<nav class="nav-bar">
				<a href="/">Eneko</a>
				<a href="/blog/">Blog</a>
			</nav>
			<div class="site-title">
				<h1>Eneko Olabarria</h1>
				<h2>Full Stack Web Dev</h2>
			</div>
		</header>
		<slot />
		<footer class="footer">
			<div class="footer-copyright">
				<h6>&copy;{year} EnekoDev. Casi todos los derechos reservados.</h6>
				<h6>Visita el código de este proyecto</h6>
				<CustomButton title='Repositorio' icon='/src/assets/git.svg' iconAlt='Git logo' url='https://github.com/EnekoDev/portfolio'/>
			</div>
			<div class="footer-contact">
				<CustomButton title='Contacto' icon='/src/assets/mail.svg' iconAlt='linkedin-logo' url='mailto:enekolabdev@gmail.com' />
			</div>
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--font-color: #FFF;
		--page-background: #111;
		--content-background: #ADADAD;
	}
	html {
		font-family: monospace, Arial, Helvetica, sans-serif;
		background-color: var(--page-background);
		color: var(--font-color);
		margin: 2vh 30vw 2vh 15vw;
	}
</style>

<style>
	.nav-bar {
		/* border */
		border: 2px solid gold;
		border-radius: 12px;
		background-color: var(--content-background);
		/* content */
		display: flex;
		gap: 25px;
		font-size: medium;
		font-weight: 700;
		/* padding, margin */
		padding: 0.5vh 2vw;
		width: fit-content;
		height: fit-content;

		/* links */
		a, a:visited {
        color: var(--font-color);
		text-decoration: none;
		}
		a:hover, a:active, a:focus {
			color: gold;
		}
	}

	.footer {
		/* margin */
		margin: 1vh 0vw 3vh 0vw;
		/* flexbox*/
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

</style>